<p style="color: green"><%= notice %></p>

<h1>Widgets</h1>

<%= turbo_stream_from "widgets" %>

<%= render "widgets/form", widget: @widget %>

<%= turbo_frame_tag "widgets" do %>
  <%= render @widgets %>
<% end %>
